In [1]:
#Many object in python are iterable. Means we can iterate over every element in the object.

In [2]:
#element can be in list or every character of string

In [3]:
#syntax of for loop

In [4]:
#myitem = [1,2,3]
#for itemName in myitem:
    #print(myitem)
    
#here itemName is variable.

In [5]:
mylist = [1,2,3,4,5,6,7,8,9]

In [11]:
for jelly in mylist: #here jelly is variable name we can have any name is variable.
    print('HEllo World')

HEllo World
HEllo World
HEllo World
HEllo World
HEllo World
HEllo World
HEllo World
HEllo World
HEllo World

In [22]:
#printing Only even number.
for num in mylist:
    if num % 2 == 0:
        print(num)

2
4
6
8

In [23]:
for item in mylist:
    if item % 2 != 0:
        print(item)

1
3
5
7
9

In [26]:
for item in mylist:
    if item % 2 != 0:
        print(f' odd number:{item}')

 odd number:1
 odd number:3
 odd number:5
 odd number:7
 odd number:9

In [37]:
list_sum = 0

for item in mylist:
    list_sum = list_sum + item
    print(list_sum)
    
print(list_sum)

1
3
6
10
15
21
28
36
45
45

In [49]:
mystring = "Hello world. My nama is satyam"

for alpha in mystring:
    print(alpha)

H
e
l
l
o

w
o
r
l
d
.

M
y

n
a
m
a

i
s

s
a
t
y
a
m

In [51]:
#tuple unpacking

mytup = [(1,2),(3,4),(5,6),(7,8)]

In [52]:
len(mytup)

4

In [ ]:
for (a,b)