In [1]:
#sets

In [2]:
#Undorder collection of unique element. such as

In [3]:
myset = set()

In [4]:
myset

set()

In [5]:
myset.add(1)

In [6]:
myset

{1}

In [7]:
myset.add("amazon")

In [9]:
myset

{1, 'amazon'}

In [12]:
myset.add(1) #here i am trying to add 1 again in the set that is available in the set then the value will not add.

In [13]:
myset

{1, 'amazon'}

In [14]:
#IT show the unique values.

In [16]:
mylist = [1,1,1,2,2,3,3,3,3,4,4,4,4,5,5,6,6,6,6,5,7,7,8,8,8,7]

In [18]:
set(mylist) #here we are converting list into sets

{1, 2, 3, 4, 5, 6, 7, 8}